worker/src/main/resources/xsd/crack-hash-worker-response.xsd

<!-- worker/src/main/resources/xsd/crack-hash-worker-response.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="crackHashWorkerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestId" type="xs:string"/>
                <xs:element name="partNumber" type="xs:int"/>
                <xs:element name="partCount" type="xs:int"/>
                <xs:element name="answers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="answer" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>