manager/src/main/resources/xsd/crack-hash-task-request.xsd

<!-- manager/src/main/resources/xsd/crack-hash-task-request.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="crackHashTaskRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="requestId" type="xs:string"/>
                <xs:element name="hash" type="xs:string"/>
                <xs:element name="alphabet" type="xs:string"/>
                <xs:element name="maxLength" type="xs:int"/>
                <xs:element name="partNumber" type="xs:int"/>
                <xs:element name="partCount" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>